body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.content{
	min-height: calc(100vh - 80px);
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#mainHeader{
    background-color: #ff7f50;
    color #fff
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}

#main ul{
    padding: 0;
    list-style: none;
}

#main li{
    margin-left: 40px;
}

#main a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding-right: 15px;
}

@media(max-width:600px){
	#main{
		width: 100%;
		float: none;
	}

	#sidebar{
		width: 100%;
		float: none;
	}
}